<md-dialog class="dialog-padding">
    <md-card-content>
        <span md-colors="{color:'primary-500'}" class="md-title ementa-title">{{proposicao.ementa}}</span>
        <div style="overflow: auto">
            <p>{{proposicao.teor}}</p>
        </div>
    </md-card-content>
    <md-card-actions layout="column" layout-align="begin center">
        <div  flex="grow">
            <div layout="column" layout-gt-sm="row">
                <md-button class="md-primary" ng-click="votar_favor(proposicao)">
                    <span class="md-caption"> A favor
                    <md-icon class="thumb-up-btn">thumb_up</md-icon>
                </span>
                </md-button>
                <md-button ng-click="votar_neutro(proposicao)">
                    <span class="md-caption">Indeciso</span>
                </md-button>
                <md-button class="md-warn" ng-click="votar_contra(proposicao)">
                    <span class="md-caption">Contra
                    <md-icon class="thumb-down-btn">thumb_down</md-icon>
                </span>
                </md-button>
            </div>
        </div>
        <div flex="grow">
            <md-button class="md-raised md-primary" ng-click="viewLink(proposicao)">
                Proposição na Câmara
            </md-button>
        </div>
    </md-card-actions>
</md-dialog>
