<div class="dialog-padding">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{proposicao.ementa}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="./assets/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card-content>
        <span md-colors="{color:'primary-500'}" class="md-title ementa-title"></span>
        <div style="overflow: auto">
            <p>{{proposicao.teor}}</p>
        </div>
    </md-card-content>
    <md-card-actions layout="column" layout-align="begin center">
        <div>
            <div layout="column" layout-gt-sm="row">
                <md-button class="md-primary" ng-click="votar_favor(proposicao)">
                    <span class="md-caption"> A favor
                    <md-icon class="thumb-up-btn">thumb_up</md-icon>
                </span>
                </md-button>
                <md-button ng-click="votar_neutro(proposicao)">
                    <span class="md-caption">Indeciso</span>
                </md-button>
                <md-button class="md-warn" ng-click="votar_contra(proposicao)">
                    <span class="md-caption">Contra
                    <md-icon class="thumb-down-btn">thumb_down</md-icon>
                </span>
                </md-button>
            </div>
        </div>
        <div layout-wrap>
            <md-button class="md-raised md-primary" ng-click="viewLink(proposicao)">
                Proposição na Câmara
            </md-button>
        </div>
    </md-card-actions>
</div>