<!DOCTYPE html>
<html lang="en">

<head>
    <title>Politikei Web</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
    <style type="text/css">
    /**
         * Hide when Angular is not yet loaded and initialized
         */
    
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    </style>
</head>

<body ng-app="politikei" ng-cloak >
    <div layout="column"  ng-controller="AppCtrl" id="popupContainer" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <!-- <md-button class="md-icon-button" ng-click="someFunc()">
                   <i class="material-icons">menu</i> 
                </md-button> -->
                <h2>Politikei</h2>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <md-button class="" ng-href="http://google.com" target="_blank">Avalie o Politikei</md-button>
                <md-button class="md-icon-button" ng-click="showAlert($event)">
                    <i class="material-icons">help</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <div ui-view></div>

            <md-button class="md-primary" ng-href="http://google.com" target="_blank">Avalie o Politikei</md-button>
        </md-content>
    </div>
    <!-- Bower components -->
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-cookies/angular-cookies.js"></script>
    <!-- App files -->
    <script src="./src/config.js"></script>
    <script src="./src/app.js"></script>
    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="./src/proposicoes/Proposicoes.js"></script>
    <script src="./src/proposicoes/ProposicaoController.js"></script>
    <script src="./src/proposicoes/ProposicaoService.js"></script>
    <script src="./src/proposicoes/ProposicaoService.js"></script>
</body>

</html>
