<md-dialog class="dialog-padding">
    <div ng-if="!loaded">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
    <div ng-if="loaded">
        <span md-colors="{color:'primary-500'}" class="md-title">{{candidato.nome}}</span>
        <md-card-content>
            <p>Partido: {{candidato.partido_sigla}}</p>
            <p>Número Eleitoral: {{candidato.numero_eleitoral}}</p>
            <p>E-mail: {{candidato.email}}</p>
            <div layout="column">
                <div class="rank-item" layout-gt-md="row" layout="column">
                    <div flex="40" layout="row">
                        <div layout="column" layout-fill layout-align="center end">
                            <div flex="none" layout-fill>
                                <div layout="column" layout-gt-md="row" layout-fill>
                                    <div ng-if="rank.igual>0" flex="none" style="width: {{ranking.percentualIgual(rank)}}%;" class="perc" id="perc-positivo">
                                        <div class="perc-div positivo"></div>
                                        <p class="positivo">{{ranking.percentualIgual(rank) | number:0}}%</p>
                                    </div>
                                    <div ng-if="rank.diferente>0" flex="none" style="width:  {{ranking.percenhtualDiferente(rank)}}%;" class="perc" id="perc-negativo">
                                        <div class="perc-div negativo"></div>
                                        <p class="negativo">{{ranking.percenhtualDiferente(rank)| number:0}}%</p>
                                    </div>
                                    <div ng-if="rank.indiferente>0" flex="none" style="width: {{ranking.percentualNeutro(rank)}}%" class="perc" id="perc-neutro">
                                        <div class="perc-div neutro"></div>
                                        <p class="neutro">{{ranking.percentualNeutro(rank)| number:0}}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-toolbar ng-if="candidato.propostas" class="md-theme-light">
                <h2 class="md-toolbar-tools">
			      <span>Propostas do candidato</span>
			    </h2>
            </md-toolbar>
            <md-content flex layout-padding ng-if="candidato.propostas">
                <p>Propostas: {{candidato.propostas}}</p>
            </md-content>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
			      <span>Confira como este candidato se posicionou</span>
			    </h2>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="voto in votos">
                        <div class="md-list-item-text">
                            <h3>{{voto.codigo}}</h3>
                            <h4>{{voto.ementa}}</h4>
                        </div>
                        <div ng-if="voto.voto==0"><i class="material-icons md-36 red">sentiment_dissatisfied</i></div>
                        <div ng-if="voto.voto==1"><i class="material-icons md-36 green">sentiment_satisfied</i></div>
                        <div ng-if="voto.voto==2"><i class="material-icons md-36 gray">sentiment_neutral</i></div>
                        <md-divider md-inset ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-card-content>
    </div>
</md-dialog>
