<div ng-if="!ranking.loaded">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<div ng-if="ranking.loaded">
    <div class="page ranking">
        <div layout="column" ng-repeat="rank in ranking.ranks">
            <div class="rank-item" layout-gt-xs="row" layout="column">

                <div flex="40">
                    <div layout="row" layout-align="left center">
                        <div flex="none" md-colors="{background:'primary'}" class="card-order-number">
                            {{$index+1}}
                        </div>
                        <img src="{{rank.parlamentar.avatar_url}}" class="avatar" />
                        <div flex layout="column">
                            <span md-colors="{color:'primary-500'}" class="md-title">{{rank.parlamentar.nome}}</span>
                            <span md-colors="{color:'accent'}" class="md-subhead">{{rank.parlamentar.partido}} - {{rank.parlamentar.numero}}</span>
                        </div>
                    </div>
                </div>

                <div flex="20" layout="row" layout-align="end center">
                    <img src="../assets/img/icones/nav_projetos.png" width="24" height="21" style="margin-right: 10px;" />
                    <span md-colors="{color:'primary-500'}">{{rank.parlamentar.propostas_votadas}} projetos</span>
                </div>

                <div flex="40" layout="row" layout-align="end center">
                    <div class="perc" md-colors="{background-color:'primary'}"></div>
                    <div class="perc" md-colors="{background-color:'warn-80'}"></div>
                    <div class="perc" md-colors="{background-color:'accent'}"></div>
                    <!-- <span md-color="{color:'primary-500'}">{{rank.perc_positivo}}</span> -->
                    <!-- <span md-color="{color:'md-warn'}">{{rank.perc_negativo}}</span> -->
                    <!-- <span md-color="{color:'accent'}">{{rank.perc_neutro}}</span> -->
                </div>
            </div>
            <!-- <p>{{rank.match_votos_favor}} | {{rank.match_votos_contra}}</p> -->
        </div>
    </div>
</div>
