<div ng-if="!ranking.loaded">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<div ng-if="ranking.loaded">
    <div class="page ranking">
        <div layout="column" ng-repeat="rank in ranking.ranks">
            <div class="rank-item" layout-gt-md="row" layout="column">

                <div flex="40">
                    <div layout="row" layout-align="left center">
                        <div flex="none" md-colors="{background:'primary'}" class="card-order-number">
                            {{$index+1}}
                        </div>
                        <div flex layout="column">
                            <span md-colors="{color:'primary-500'}" class="md-title">{{rank.parlamentar_nome}}</span>
                            <span md-colors="{color:'accent'}" class="md-subhead">{{rank.partido_sigla}}</span>
                        </div>
                    </div>
                </div>

                <!--<div flex="20" layout="row" layout-align="center center" class="projetos">
                    <img src="../assets/img/icones/nav_projetos.png" width="24" height="21" style="margin-right: 10px;" />
                    <span md-colors="{color:'primary-500'}">{{rank.QtdeProposicoes}} projetos</span>
                </div>-->

                <div flex="40" layout="row">
                    <div layout="column" layout-fill layout-align="center end">
                        <div flex="none" layout-fill>
                            <div layout="column" layout-gt-md="row" layout-fill>
                                <div ng-if="rank.Sim>0" flex="none" style="width: {{rank.Sim}}%;" class="perc" id="perc-positivo">
                                    <div class="perc-div positivo"></div>
                                    <p class="positivo">{{rank.Sim | number:0}}%</p>
                                </div>
                                <div ng-if="rank.Nao>0" flex="none" style="width:  {{rank.Nao}}%;" class="perc" id="perc-negativo">
                                    <div class="perc-div negativo"></div>
                                    <p class="negativo">{{rank.Nao| number:0}}%</p>
                                </div>
                                <div ng-if="rank.NaoSei>0"  flex="none" style="width: {{rank.NaoSei}}%" class="perc" id="perc-neutro">
                                    <div class="perc-div neutro"></div>
                                    <p class="neutro">{{rank.NaoSei| number:0}}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div layout="row">
                        <span flex>aaa</span>
                        <span flex>bbb</span>
                        <span flex>ccc</span>
                    </div> -->
                    <!-- </div> -->
                    <!-- <span md-color="{color:'primary-500'}">{{rank.perc_positivo}}</span> -->
                    <!-- <span md-color="{color:'md-warn'}">{{rank.perc_negativo}}</span> -->
                    <!-- <span md-color="{color:'accent'}">{{rank.perc_neutro}}</span> -->
                </div>
            </div>
            <!-- <p>{{rank.match_votos_favor}} | {{rank.match_votos_contra}}</p> -->
        </div>
    </div>
</div>
