<div layout="column" layout-align="center">
    <md-card flex="50" ng-repeat="proposicao in proposicoes.proposicoes">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{proposicao.tipo}}</span>
                <span class="md-subhead">{{proposicao.descricao}} {{proposicao.codigo}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <p>{{proposicao.ementa}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="begin center" class="layout-align-begin-center layout-row">
            <md-button class="md-icon-button" ng-click="someFunc()">
                <i class="material-icons">thumb_up</i>
            </md-button>
            <md-button class="md-icon-button" ng-click="someFunc()">
                <i class="material-icons">thumb_down</i>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
