
/* Primary content area */

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content .md-button.contact {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 40px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

#content .md-button.contact > md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

#content .md-button.contact:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

/* Typography support coming in 0.8.0 */

.avatar {
    position: relative;
    width: 54px;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

.thumb-up-btn {
    margin-bottom: 7px
}

button md-icon {
    margin-left: 5px;
}

.thumb-down-btn {
    margin-bottom: 2px
}

.proposicao {
    margin-bottom: 30px;
}

.proposicao-header {
    padding-left: 10px;
    padding-right: 10px;
}

.proposicao-divisor {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.proposicao md-card.favor {
    border-left: thick solid green;
}

.proposicao md-card.contra {
    border-left: thick solid red;
}

md-card {
    background-color: #fff;
}

/* We can't set two different bg color on the default theme.
   So to make it easier, the color profile of the navigation menu is being set
   manyally.
*/
.nav-active { background-color: #2E4152; }
md-list-item { color: white; }
md-list-item img { margin-right: 8px; }
md-list-item p {
    color: #11ADA0;
    text-transform: uppercase;
    font-weight: bold;
}

/* MD Sidenav size can't be changed using md classes,
   using flex breaks animations.
*/
md-sidenav,
md-sidenav.md-locked-open-add-active,
md-sidenav.md-closed.md-locked-open-add-active,
md-sidenav.md-locked-open {
    background-color: #354C5E;
    width: 251px;
    min-width: 251px;
    max-width: 251px;
}
