/* Toolbar area */

body {
    background-color: #EEEEEE;
}

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}


/* Sidenav area */

md-list-item > button {
    width: 100%;
    text-align: left !important;
    height: 70px;
    ;
}

md-icon.avatar {
    margin-right: 20px;
}

md-list .md-button.selected {
    color: #03a9f4;
}

button#main {
    margin-bottom: 10px;
}

md-sidenav > md-toolbar {
    height: 64px;
}

md-list-item {
    overflow: hidden;
}


/* Primary content area */

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content .md-button.contact {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 40px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

#content .md-button.contact > md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

#content .md-button.contact:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}


/* Utils */

.fuck-css{
    position: absolute;
}

/* Typography support coming in 0.8.0 */

.avatar {
    position: relative;
    width: 54px;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

.thumb-up-btn {
    margin-bottom: 7px
}

button md-icon {
    margin-left: 5px;
}

.thumb-down-btn {
    margin-bottom: 2px
}

.proposicao {
    margin-bottom: 30px;
}

.proposicao-header {
    padding-left: 10px;
    padding-right: 10px;
}

.proposicao-divisor {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.proposicao md-card.favor {
    border-left: thick solid green;
}

.proposicao md-card.contra {
    border-left: thick solid red;
}

md-card {
    background-color: #fff;
}
